<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.MANAGE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ng-container *ngIf=" app.user.permissions.canManageRegistrations">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'MANAGE.USERS_AND_REGISTRATIONS' | translate }}</h2>
          <p>{{ 'MANAGE.USERS_AND_REGISTRATIONS_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="app.goToInTabs(['manage', 'users'])">
        <ion-icon slot="start" icon="people-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.USERS_LIST' | translate }}</ion-label>
      </ion-item>
      <ion-item button detail (click)="app.goToInTabs(['manage', 'spots'])">
        <ion-icon slot="start" icon="ticket-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.SPOTS_MANAGEMENT' | translate }}</ion-label>
      </ion-item>
      <ion-item
        button
        detail
        *ngIf="app.user.permissions.isAdmin"
        (click)="app.goToInTabs(['manage', 'configurations', 'registrations'])"
      >
        <ion-icon slot="start" icon="settings-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.REGISTRATIONS_SETTINGS' | translate }}</ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="app.user.permissions.canManageContents">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'MANAGE.CONTENTS' | translate }}</h2>
          <p>{{ 'MANAGE.CONTENTS_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" icon="volume-high-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.COMMUNICATIONS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="flame-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.SESSIONS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="mic-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.SPEAKERS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="briefcase-outline"></ion-icon>
        <ion-label>{{ 'MANAGE.ORGANIZATIONS' | translate }}</ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="app.user.permissions.isAdmin">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'MANAGE.EMAIL_TEMPLATES' | translate }}</h2>
          <p>{{ 'MANAGE.EMAIL_TEMPLATES_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.SPOT_ASSIGNED)">
        <ion-label>{{ 'MANAGE.EMAIL_TEMPLATES_TYPES.SPOT_ASSIGNED' | translate }}</ion-label>
      </ion-item>
      <ion-item button detail (click)="openTemplateEmailModal(EmailTemplates.REGISTRATION_CONFIRMED)">
        <ion-label>{{ 'MANAGE.EMAIL_TEMPLATES_TYPES.REGISTRATION_CONFIRMED' | translate }}</ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label>
          <h2>{{ 'MANAGE.DOCUMENT_TEMPLATES' | translate }}</h2>
          <p>{{ 'MANAGE.DOCUMENT_TEMPLATES_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="openTemplateDocumentModal(DocumentTemplates.INVOICE)">
        <ion-label>{{ 'MANAGE.DOCUMENT_TEMPLATES_TYPES.INVOICE' | translate }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
