<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-title>{{ 'TABS.MANAGE_SHOP' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ion-item button detail (click)="goToManageUsersPage()">
      <ion-label>{{ 'MANAGE_SHOP.MANAGE_USERS' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="goToManageRegistrationsPage()">
      <ion-label>{{ 'MANAGE_SHOP.MANAGE_REGISTRATIONS' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
