<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button (click)="app.openUserPreferences()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>EGM</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="app.reloadApp()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="maxWidthContainer">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h2>Welcome <span *ngIf="app.user.name">, {{ app.user.name }}</span>!</h2>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="app.user">
        <ion-row>
          <ion-col>
            <input id="avatarInput" type="file" accept="image/*" style="display: none" (change)="setAvatar($event)" />
            <p>
              <idea-user-avatar
                class="tappable"
                size="extraLarge"
                [src]="app.getUserImageURL(app.user)"
                [name]="app.user.name"
              ></idea-user-avatar>
            </p>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.userId">
            <div slot="label">ID</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.email">
            <div slot="label">Email</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.name">
            <div slot="label">Name</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.sectionCode">
            <div slot="label">Section Code</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.section">
            <div slot="label">Section</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.country">
            <div slot="label">Country</div>
          </ion-input>
        </ion-item>
        <ion-item *ngFor="let role of app.user.roles; let i = index">
          <ion-input readonly labelPlacement="floating" [value]="role">
            <div slot="label">Role {{ i + 1 }}</div>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
