<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VENUES.DETAILS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="contentGrid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <app-venue-card [venue]="venue"></app-venue-card>
      </ion-col>
      <ion-col *ngIf="rooms?.length" size="12" size-md="6">
        <ion-list>
          <ion-list-header>
            <ion-label class="ion-text-center">
              <h2>{{ 'VENUES.ROOMS' | translate }}</h2>
            </ion-label>
          </ion-list-header>
          <ion-searchbar #searchbar color="light" (ionInput)="filterRooms($event.target.value)"></ion-searchbar>
          <ion-col *ngIf="!rooms">
            <app-room-card [preview]="true"></app-room-card>
          </ion-col>
          <ion-col *ngIf="rooms && rooms.length === 0">
            <ion-item lines="none" color="white">
              <ion-label class="ion-text-center">{{ 'COMMON.NO_ELEMENT_FOUND' | translate }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col *ngFor="let room of rooms">
            <app-room-card [room]="room" [preview]="true" (click)="app.goToInTabs(['rooms', room.roomId])"></app-room-card>
          </ion-col>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
