.flexBox {
  background: var(--ion-color-white-shade);
}
.authCard {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  ion-img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  ion-card-header {
    padding: 20px 30px;
    ion-card-title {
      font-size: 2em;
    }
    ion-card-subtitle {
      font-size: 1.2em;
    }
  }
  ion-card-content {
    .loginOptions {
      max-width: 350px;
      margin: 0 auto;
      ion-item ion-label {
        font-size: 0.8em;
        color: var(--ion-color-medium-shade);
        line-height: 1.2;
      }
      ion-checkbox {
        margin-right: 20px;
      }
      ion-item-divider {
        background-color: transparent;
        margin-top: 16px;
        margin-bottom: 0;
      }
      ion-button {
        width: 300px;
        height: 40px;
        margin: 0 auto;
        margin-top: 12px;
        text-transform: none;
      }
    }
    p.version {
      margin-top: 30px;
      font-size: 0.9em;
    }
  }
}
@media only screen and (max-width: 767px) {
  .authCard {
    margin: 10px;
  }
}
