<ion-content>
  <form class="flexBox">
    <ion-card class="authCard">
      <ion-img [src]="app.getIcon()"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ 'AUTH.SUBTITLE' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'AUTH.TITLE' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="loginOptions">
          <ion-item color="transparent" lines="none">
            <ion-checkbox
              slot="start"
              [(ngModel)]="agreementCheck"
              [ngModelOptions]="{ standalone: true }"
            ></ion-checkbox>
            <ion-label class="ion-text-wrap">
              {{ 'AUTH.AGREEMENT_CHECK' | translate }}
              <a [href]="'AUTH.PRIVACY_POLICY_URL' | translate" target="_blank">
                <ion-text color="primary">{{ 'AUTH.PRIVACY_POLICY' | translate }}</ion-text>
              </a>
            </ion-label>
          </ion-item>
          <ion-item-divider>
            <ion-label>{{ 'AUTH.IF_YOU_ARE' | translate }}: <b>{{ 'AUTH.AN_ESNER' | translate }}</b>...</ion-label>
          </ion-item-divider>
          <ion-button
            expand="block"
            color="primary"
            [disabled]="!agreementCheck"
            (click)="startSignInFlowWithESNAccounts()"
          >
            <ion-icon slot="start" [icon]="app.getIcon(true)"></ion-icon>
            {{ 'AUTH.LOGIN_WITH_ESN_ACCOUNTS' | translate }}
          </ion-button>
          <ion-item-divider>
            <ion-label>{{ 'AUTH.IF_YOU_ARE' | translate }}: <b>{{ 'AUTH.AN_EXTERNAL' | translate }}</b>...</ion-label>
          </ion-item-divider>
          <ion-button expand="block" color="medium" [disabled]="!agreementCheck" (click)="goToCognitoAuth()">
            <ion-icon slot="start" name="log-in"></ion-icon>{{ 'AUTH.LOGIN_WITH_EGM_ACCOUNT' | translate }}
          </ion-button>
        </ion-list>
        <p class="version">v{{ version }}</p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
