.flexBox {
  background: var(--ion-color-white-shade);
}
.authCard {
  min-width: 400px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--ion-color-white);
  border-radius: 10px;
  text-align: center;
  ion-img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  ion-card-title {
    font-size: 2em;
  }
  ion-card-subtitle {
    font-size: 1.2em;
  }
  ion-card-content {
    ion-item ion-label {
      font-size: 0.9em;
      color: var(--ion-color-medium-shade);
      line-height: 1.2;
      ion-icon {
        margin-right: 10px;
      }
    }
    ion-item-divider {
      background-color: transparent;
      border-bottom: none;
      ion-label {
        margin: 0 auto;
      }
    }
  }
}
.authCard.large {
  min-width: 500px;
}
@media only screen and (max-width: 767px) {
  .flexBox {
    background-color: transparent;
  }
  .authCard {
    box-shadow: none;
  }
  .authCard.large {
    min-width: 400px;
  }
}
