<ion-header class="ion-no-border">
  @if (app?.isInMobileMode()) {
    <ion-toolbar color="ideaToolbar">
      <ion-title>{{ 'TABS.MEALS' | translate }}</ion-title>
    </ion-toolbar>
  }
</ion-header>

<ion-content>
  <swiper-container #swiper [options]="swiperOptions">
    @if (meals && meals.length > 0) {
      @for (meal of meals; track meal) {
        <swiper-slide>
          <ion-card class="ticket-card" color="primary">
            <ion-card-header>
              <ion-card-title color="light" class="ion-text-center">
                {{ meal.name }}
              </ion-card-title>
              <ion-card-subtitle color="light" class="ion-text-center">
                {{ meal.type | uppercase }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-padding ion-text-center">
              <qrcode
                [qrdata]="showTicket(meal)"
                [width]="200"
                [errorCorrectionLevel]="'M'">
              </qrcode>
              <div class="ion-padding-top">
                <ion-text color="light" class="ion-text-center">
                  @if (meal.status) {
                    <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
                    <span>{{ 'MEALS.VALIDATED_TICKET' | translate }}</span>
                  } @else {
                    <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
                    <span>{{ 'MEALS.NOT_VALIDATED_TICKET' | translate }}</span>
                  }
                </ion-text>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      }
    }

    @for (info of getAvailableTickets(); track info) {
      <swiper-slide>
        <ion-card class="ticket-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center">
              {{ info.name | uppercase }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center ion-justify-content-center">
            <div class="center-button-container">
              <ion-button expand="block" (click)="generateTicket(info.ticketId)">
                {{ 'MEALS.GENERATE_TICKET' | translate }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>

@if (app.user.canManageMeals) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="ESNgreen" size="small" [title]="'COMMON.MANAGE' | translate" (click)="goToManageMeals()">
      <ion-icon icon="build"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}