div.filters {
  padding-left: 3px;
  background-color: var(--ion-color-ideaToolbar);

  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  > ion-item {
    margin: 0 6px;
    display: inline-block;
    ion-searchbar {
      padding: 0;
      --box-shadow: none;
      --border-radius: 16px;
    }
    ion-select {
      min-height: 40px;
      &::part(text) {
        font-weight: 500;
      }
    }
  }
}

div.footerTotals {
  padding: 8px 0 8px 12px;
  span {
    padding-right: 16px;
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
