<ion-header>
  <ion-toolbar *ngIf="app.isInMobileMode()" color="ideaToolbar">
    <ion-title class="ion-text-center">
      {{ 'SPEAKERS.LIST' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="inset" style="padding: 0; max-width: 500px; margin: 0 auto;">
    <ion-searchbar #searchbar color="light" (ionInput)="filterSpeakers($event.target.value)"></ion-searchbar>
    <ion-item color="white" class="noElements" *ngIf="speakers && !speakers.length">
      <ion-label>{{ 'COMMON.NO_ELEMENT_FOUND' | translate }}</ion-label>
    </ion-item>
    <ion-item color="white" *ngIf="!speakers">
      <ion-label><ion-skeleton-text animated></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item
      color="white"
      *ngFor="let speaker of speakers"
      button
      detail
      (click)="selectSpeaker(speaker)"
    >
      <ion-label class="ion-text-wrap">{{ speaker.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>