<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar" *ngIf="app.isInMobileMode()">
    <ion-buttons slot="start">
      <ion-button (click)="app.closePage()"><ion-icon icon="arrow-back" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ 'EVENT_REGISTRATIONS.REGISTRATION' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer" *ngIf="form" [class.viewMode]="!editMode">
    <ion-list-header *ngIf="!app.isInMobileMode()">
      <ion-label>
        <h2>{{ 'EVENT_REGISTRATIONS.REGISTRATION_OF' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img
          [src]="app.user.avatarURL ?? app.getAvatarFallbackURL()"
          (ionError)="app.fallbackAvatar($event?.target)"
        ></ion-img>
      </ion-avatar>
      <ion-label>
        {{ app.user.firstName }} {{ app.user.lastName }}
        <p *ngIf="app.user.isExternal()"><i>{{ 'PROFILE.EXTERNAL_GUEST' | translate }}</i></p>
        <p *ngIf="!app.user.isExternal()">{{ app.user.getSectionCountry() }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        *ngIf="app.user.permissions.isAdmin"
        (click)="app.openUserProfileInESNAccounts(app.user)"
      >
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <idea-custom-block
      [sections]="form"
      [blockMeta]="app.configurations.registrationFormDef"
      [errors]="errors"
      [disabled]="!editMode"
    />
    <ion-row class="ion-margin-top" *ngIf="editMode">
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="save(true)">
          {{ 'EVENT_REGISTRATIONS.SAVE_DRAFT' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="save()">
          {{ 'EVENT_REGISTRATIONS.SUBMIT_REGISTRATION' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
