<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.CONFIGURATIONS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ion-item button detail (click)="app.goToInTabs(['users'])">
      <ion-label>{{ 'CONFIGURATIONS.USERS_AND_REGISTRATIONS' | translate }}</ion-label>
    </ion-item>
    <ion-item button detail (click)="app.goToInTabs(['spots'])">
      <ion-label>{{ 'CONFIGURATIONS.SPOTS_MANAGEMENT' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
