<ion-header class="ion-no-border" *ngIf="app.isInMobileMode()">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-img [src]="app.getIcon()"></ion-img>
    </ion-buttons>
    <ion-title>{{ 'TABS.CONFIGURATIONS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer">
    <ng-container
      *ngIf="app.user.permissions.isAdmin || app.user.permissions.canManageRegistrations || app.user.permissions.isCountryLeader"
    >
      <ion-list-header>
        <ion-label>
          <h2>{{ 'CONFIGURATIONS.USERS_AND_REGISTRATIONS' | translate }}</h2>
          <p>{{ 'CONFIGURATIONS.USERS_AND_REGISTRATIONS_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="app.goToInTabs(['users'])">
        <ion-icon slot="start" icon="people-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.USERS_LIST' | translate }}</ion-label>
      </ion-item>
      <ng-container *ngIf="app.user.permissions.isAdmin || app.user.permissions.canManageRegistrations">
        <ion-item button detail (click)="app.goToInTabs(['spots'])">
          <ion-icon slot="start" icon="ticket-outline"></ion-icon>
          <ion-label>{{ 'CONFIGURATIONS.SPOTS_MANAGEMENT' | translate }}</ion-label>
        </ion-item>
        <ion-item button detail (click)="app.goToInTabs(['configurations', 'registrations'])">
          <ion-icon slot="start" icon="settings-outline"></ion-icon>
          <ion-label>{{ 'CONFIGURATIONS.REGISTRATIONS_SETTINGS' | translate }}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="app.user.permissions.isAdmin || app.user.permissions.canManageContents">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'CONFIGURATIONS.CONTENTS' | translate }}</h2>
          <p>{{ 'CONFIGURATIONS.CONTENTS_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" icon="volume-high-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.COMMUNICATIONS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="flame-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.SESSIONS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="mic-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.SPEAKERS' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" icon="briefcase-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.ORGANIZATIONS' | translate }}</ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="app.user.permissions.isAdmin">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES' | translate }}</h2>
          <p>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES_I' | translate }}</p>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="app.goToInTabs(['configurations', 'emails'])">
        <ion-icon slot="start" icon="mail-unread-outline"></ion-icon>
        <ion-label>{{ 'CONFIGURATIONS.EMAIL_TEMPLATES' | translate }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
