<html>
  <body>
    Hello
    {{name}},<br />
    <p>

      The Organising Committee of EGM Seville 2024 has just confirmed receiving your participation fee and proof of
      payment .
    </p>
    <p>
      If you have any questions regarding the registration or payment process please write to egm-info@esn.org.
    </p>
    <p>
      See you in Seville! The EGM Team
    </p>
  </body>
</html>