<html>
  <body>

    Hello
    {{name}},<br />

    <p>
      Your spot with reference
      {{reference}}
      has been transferred to another user by an administrator or delegation leader.
    </p>
    <p>
      If you have any questions regarding the registration or payment process please write to egm-info@esn.org.
    </p>

    <p>
      The EGM Team
    </p>

  </body>
</html>