<html><head><meta content='text/html; charset=UTF-8' http-equiv='content-type' /><style
      type='text/css'
    >.lst-kix_5ph9befjo07b-4>li{counter-increment:lst-ctn-kix_5ph9befjo07b-4}ol.lst-kix_5ph9befjo07b-5.start{counter-reset:lst-ctn-kix_5ph9befjo07b-5
      0}.lst-kix_5ph9befjo07b-5>li{counter-increment:lst-ctn-kix_5ph9befjo07b-5}ol.lst-kix_5ph9befjo07b-8.start{counter-reset:lst-ctn-kix_5ph9befjo07b-8
      0}ol.lst-kix_5ph9befjo07b-4.start{counter-reset:lst-ctn-kix_5ph9befjo07b-4
      0}.lst-kix_l3c7fl1iig4d-0>li:before{content:"\0025cf
      "}ol.lst-kix_5ph9befjo07b-1.start{counter-reset:lst-ctn-kix_5ph9befjo07b-1
      0}ol.lst-kix_5ph9befjo07b-7.start{counter-reset:lst-ctn-kix_5ph9befjo07b-7
      0}ol.lst-kix_5ph9befjo07b-5{list-style-type:none}ol.lst-kix_5ph9befjo07b-4{list-style-type:none}ol.lst-kix_5ph9befjo07b-7{list-style-type:none}ol.lst-kix_5ph9befjo07b-6{list-style-type:none}.lst-kix_nujpx0ybpuc5-7>li:before{content:"\0025cb
      "}ol.lst-kix_5ph9befjo07b-1{list-style-type:none}ol.lst-kix_5ph9befjo07b-0{list-style-type:none}.lst-kix_nujpx0ybpuc5-8>li:before{content:"\0025a0
      "}ol.lst-kix_5ph9befjo07b-3{list-style-type:none}ol.lst-kix_5ph9befjo07b-2{list-style-type:none}.lst-kix_nujpx0ybpuc5-5>li:before{content:"\0025a0
      "}.lst-kix_5ph9befjo07b-7>li{counter-increment:lst-ctn-kix_5ph9befjo07b-7}.lst-kix_5ph9befjo07b-0>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-0,decimal) ". "}.lst-kix_5ph9befjo07b-2>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-2,lower-roman) ".
      "}ol.lst-kix_5ph9befjo07b-3.start{counter-reset:lst-ctn-kix_5ph9befjo07b-3
      0}ol.lst-kix_5ph9befjo07b-8{list-style-type:none}.lst-kix_nujpx0ybpuc5-2>li:before{content:"\0025a0
      "}.lst-kix_nujpx0ybpuc5-6>li:before{content:"\0025cf "}.lst-kix_5ph9befjo07b-3>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-3,decimal) ". "}.lst-kix_l3c7fl1iig4d-8>li:before{content:"\0025a0
      "}.lst-kix_l3c7fl1iig4d-7>li:before{content:"\0025cb "}.lst-kix_5ph9befjo07b-6>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-6,decimal) ". "}.lst-kix_5ph9befjo07b-4>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-4,lower-latin) ". "}.lst-kix_nujpx0ybpuc5-3>li:before{content:"\0025cf
      "}.lst-kix_l3c7fl1iig4d-6>li:before{content:"\0025cf
      "}.lst-kix_5ph9befjo07b-1>li{counter-increment:lst-ctn-kix_5ph9befjo07b-1}.lst-kix_nujpx0ybpuc5-4>li:before{content:"\0025cb
      "}.lst-kix_5ph9befjo07b-5>li:before{content:"" counter(lst-ctn-kix_5ph9befjo07b-5,lower-roman) ".
      "}ul.lst-kix_l3c7fl1iig4d-6{list-style-type:none}.lst-kix_l3c7fl1iig4d-4>li:before{content:"\0025cb
      "}.lst-kix_l3c7fl1iig4d-5>li:before{content:"\0025a0
      "}ul.lst-kix_l3c7fl1iig4d-7{list-style-type:none}ul.lst-kix_l3c7fl1iig4d-8{list-style-type:none}.lst-kix_5ph9befjo07b-2>li{counter-increment:lst-ctn-kix_5ph9befjo07b-2}ul.lst-kix_l3c7fl1iig4d-2{list-style-type:none}ul.lst-kix_l3c7fl1iig4d-3{list-style-type:none}ol.lst-kix_5ph9befjo07b-0.start{counter-reset:lst-ctn-kix_5ph9befjo07b-0
      0}.lst-kix_5ph9befjo07b-8>li{counter-increment:lst-ctn-kix_5ph9befjo07b-8}ul.lst-kix_l3c7fl1iig4d-4{list-style-type:none}ul.lst-kix_l3c7fl1iig4d-5{list-style-type:none}.lst-kix_nujpx0ybpuc5-1>li:before{content:"\0025cb
      "}.lst-kix_l3c7fl1iig4d-1>li:before{content:"\0025cb
      "}ul.lst-kix_l3c7fl1iig4d-0{list-style-type:none}ul.lst-kix_l3c7fl1iig4d-1{list-style-type:none}.lst-kix_l3c7fl1iig4d-2>li:before{content:"\0025a0
      "}.lst-kix_l3c7fl1iig4d-3>li:before{content:"\0025cf "}.lst-kix_nujpx0ybpuc5-0>li:before{content:"\0025cf
      "}.lst-kix_5ph9befjo07b-1>li:before{content:"" counter(lst-ctn-kix_5ph9befjo07b-1,lower-latin) ".
      "}.lst-kix_5ph9befjo07b-3>li{counter-increment:lst-ctn-kix_5ph9befjo07b-3}.lst-kix_5ph9befjo07b-6>li{counter-increment:lst-ctn-kix_5ph9befjo07b-6}ol.lst-kix_5ph9befjo07b-2.start{counter-reset:lst-ctn-kix_5ph9befjo07b-2
      0}ol.lst-kix_5ph9befjo07b-6.start{counter-reset:lst-ctn-kix_5ph9befjo07b-6
      0}li.li-bullet-0:before{margin-left:-18pt;white-space:nowrap;display:inline-block;min-width:18pt}ul.lst-kix_nujpx0ybpuc5-7{list-style-type:none}ul.lst-kix_nujpx0ybpuc5-6{list-style-type:none}ul.lst-kix_nujpx0ybpuc5-5{list-style-type:none}.lst-kix_5ph9befjo07b-8>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-8,lower-roman) ".
      "}ul.lst-kix_nujpx0ybpuc5-4{list-style-type:none}.lst-kix_5ph9befjo07b-7>li:before{content:""
      counter(lst-ctn-kix_5ph9befjo07b-7,lower-latin) ".
      "}ul.lst-kix_nujpx0ybpuc5-8{list-style-type:none}.lst-kix_5ph9befjo07b-0>li{counter-increment:lst-ctn-kix_5ph9befjo07b-0}ul.lst-kix_nujpx0ybpuc5-3{list-style-type:none}ul.lst-kix_nujpx0ybpuc5-2{list-style-type:none}ul.lst-kix_nujpx0ybpuc5-1{list-style-type:none}ul.lst-kix_nujpx0ybpuc5-0{list-style-type:none}ol{margin:0;padding:0}table
      td,table
      th{padding:0}.c2{margin-left:72pt;padding-top:0pt;padding-left:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c1{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c3{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c0{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c4{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c9{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;color:#1155cc;text-decoration:underline}.c10{text-decoration-skip-ink:none;-webkit-text-decoration-skip:none;text-decoration:underline}.c5{background-color:#ffffff;max-width:468pt;padding:72pt
      72pt 72pt
      72pt}.c6{padding:0;margin:0}.c11{color:inherit;text-decoration:inherit}.c14{text-indent:36pt}.c8{margin-left:36pt}.c12{font-weight:700}.c7{font-style:italic}.c13{padding-left:0pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style></head><body
    class='c5 doc-content'
  ><p class='c4'><span class='c1'>Hello {{name}},</span></p><p class='c3'><span class='c1'></span></p><p
      class='c4'
    ><span>Your spot for EGM Seville 2024 has been successfully assigned as </span><span
        class='c7'
      >{{spotType}}</span><span class='c1'>. </span></p><p class='c3'><span class='c1'></span></p><p class='c4'><span
      >Your reference number is</span><span class='c7'>&nbsp;{{reference}}</span><span class='c1'>. You can also consult
        it in the EGM App.</span></p><p class='c3'><span class='c1'></span></p><p class='c4'><span class='c1'>In order
        to proceed with the registration process, we need you to pay the spot until the
        {{deadline}}, following one of these steps:</span></p><p class='c3'><span class='c1'></span></p><ol
      class='c6 lst-kix_5ph9befjo07b-0 start'
      start='1'
    ><li class='c4 c8 c13 li-bullet-0'><span class='c12'>Payment by card</span><span
          class='c1'
        >&nbsp;</span></li></ol><p class='c4 c8'><span>To pay by card you will need to go to the EGM App and select the
        &lsquo;Pay with Stripe&rsquo; option on your user page.
      </span><span class='c0'>You&rsquo;ll be charged a percentage because of the commissions of the platform if using
        this method.</span></p><p class='c3'><span class='c1'></span></p><p class='c4 c8'><span class='c1'>If
        you&rsquo;re paying for yourself&hellip;</span></p><ul class='c6 lst-kix_nujpx0ybpuc5-0 start'><li
        class='c2 li-bullet-0'
      ><span>Add your the </span><span class='c10'>Reference Number</span><span>* and </span><span class='c10'>Name +
          Surname + NO</span><span class='c1'>&nbsp;of the people being paid. For example, Ricardo Bento ESN Portugal</span></li><li
        class='c2 li-bullet-0'
      ><span class='c1'>Add the TAX DATA of the ENTITY/SECTION that will receive the legal invoice after the event - to
          do so, select the option &lsquo;buying as a company&rsquo; in the bottom of the Stripe payment form.</span></li></ul><p
      class='c3'
    ><span class='c1'></span></p><ol class='c6 lst-kix_5ph9befjo07b-0' start='2'><li class='c4 c8 c13 li-bullet-0'><span
          class='c0'
        >Payment by bank transfer &nbsp;</span></li></ol><p class='c4 c8'><span class='c1'>To pay by bank transfer,
        these are the fields you must fill when processing your transfer:</span></p><ul
      class='c6 lst-kix_l3c7fl1iig4d-0 start'
    ><li class='c2 li-bullet-0'><span>Concept of the payment: </span><span class='c10'>NAME SURNAME - REFERENCE NUMBER -
          EGM SEVILLE 2024</span><span>&nbsp;(</span><span class='c7'>ex: Laura Garcia - 123456789 - EGM Seville 2024</span><span
          class='c1'
        >)</span></li><li class='c2 li-bullet-0'><span>If you are paying for multiple people, send an email with the
          proof of payment and the
        </span><span class='c10'>NAME SURNAME - REFERENCE NUMBER</span><span class='c1'>&nbsp;for EACH one paid on that
          transfer</span></li></ul><p class='c3'><span class='c1'></span></p><p class='c4 c14'><span class='c1'>ESN
        Spain bank details:</span></p><ul class='c6 lst-kix_l3c7fl1iig4d-0'><li class='c2 li-bullet-0'><span
          class='c1'
        >Beneficiary: Federaci&oacute;n ESN Espa&ntilde;a</span></li><li class='c2 li-bullet-0'><span
          class='c1'
        >Address: Calle Einstein, 7, 28049, Madrid</span></li><li class='c2 li-bullet-0'><span class='c1'>Bank Name:
          Banco Santander</span></li><li class='c2 li-bullet-0'><span class='c1'>Bank Address: De Pereda 9-12, 39004
          Santander</span></li><li class='c2 li-bullet-0'><span class='c1'>IBAN: ES38 0049 1806 9627 1211 4512</span></li><li
        class='c2 li-bullet-0'
      ><span class='c1'>SWIFT: BSCHESMMXXX</span></li></ul><p class='c3'><span class='c1'></span></p><p class='c3'><span
        class='c1'
      ></span></p><p class='c4'><span class='c1'>Remember to upload your proof of payment using the dedicated button on
        the user&rsquo;s page on the app. This should be a bank statement with the relevant data to match with your
        payment (name and surname and reference number).</span></p><p class='c3'><span class='c1'></span></p><p
      class='c4'
    ><span>If you have any questions regarding the registration or payment process please write to </span><span
        class='c9'
      ><a class='c11' href='mailto:egm-info@esn.org'>egm-info@esn.org</a></span><span
        class='c1'
      >.</span></p></body></html>