<ion-header class="ion-no-border">
  <ion-row>
    <ion-toolbar color="ideaToolbar" *ngIf="app.isInMobileMode()">
        <ion-buttons slot="start">
          <ion-button (click)="app.closePage()"><ion-icon icon="arrow-back" slot="icon-only"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>{{ 'USER.REGISTRATION' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button *ngIf="!editMode" (click)="enterEditMode()">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
          <ion-button *ngIf="editMode" (click)="exitEditMode()">
            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="editMode" (click)="save()">
            <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-row>
</ion-header>
<ion-content>
  <ion-list class="aList maxWidthContainer" *ngIf="form" [class.viewMode]="!editMode">
    <ion-list-header *ngIf="!app.isInMobileMode()">
      <ion-label>
        <h2>{{ 'USER.REGISTRATION_OF' | translate }}</h2>
      </ion-label>
      <ion-buttons>
        <ion-button *ngIf="!editMode" (click)="enterEditMode()">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-button>
        <ion-button *ngIf="editMode" (click)="exitEditMode()">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
        <ion-button *ngIf="editMode" (click)="save()">
          <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img
          [src]="user.avatarURL ?? app.getAvatarFallbackURL()"
          (ionError)="app.fallbackAvatar($event?.target)"
        ></ion-img>
      </ion-avatar>
      <ion-label>
        {{ user.getName() }}
        <p *ngIf="user.isExternal()"><i>{{ 'USER.EXTERNAL_GUEST' | translate }}</i></p>
        <p *ngIf="!user.isExternal()">{{ user.getSectionCountry() }}</p>
      </ion-label>
      <ion-button
        slot="end"
        fill="clear"
        target="_blank"
        *ngIf="user.permissions.isAdmin"
        [href]="app.getUserProfileInESNAccounts(user)"
      >
        <ion-icon icon="open-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <idea-custom-block
      [sections]="form"
      [blockMeta]="app.configurations.registrationFormDef"
      [errors]="errors"
      [disabled]="!editMode"
    />
    <ion-list-header>
      <ion-label>
        <h2>{{ 'USER.CONFIRM_YOUR_REGISTRATION' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('tc')">
      <ion-checkbox slot="start" [disabled]="!editMode" [(ngModel)]="acceptTC"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        {{ 'USER.ACCEPT_TC' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-button slot="end" fill="clear" color="medium" target="_blank" [href]="'USER.TC_URL' | translate">
        <ion-icon slot="icon-only" icon="eye"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('coc')">
      <ion-checkbox slot="start" [disabled]="!editMode" [(ngModel)]="acceptCOC"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        {{ 'USER.ACCEPT_COC' | translate }} <ion-text class="obligatoryDot"></ion-text>
      </ion-label>
      <ion-button slot="end" fill="clear" color="medium" target="_blank" [href]="'USER.COC_URL' | translate">
        <ion-icon slot="icon-only" icon="eye"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row class="ion-margin-top" *ngIf="editMode && this.app.configurations.canUserRegister(user) && !editAfterRegistration">
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="save(true)"> {{ 'USER.SAVE_DRAFT' | translate }} </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="save()"> {{ 'USER.SUBMIT_REGISTRATION' | translate }} </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
