.maxWidthContainer {
  max-width: 500px;
  margin: 0 auto;
}
.smallWidthContainer {
  max-width: 300px;
  margin: 0 auto;
}
ion-card {
  width: 100%;
  margin: 20px 0;
  border-radius: 0;
  ion-card-header {
    background: transparent;
    ion-img {
      max-width: 200px;
      margin: 0 auto;
    }
  }
  ion-card-content {
    padding: 0;
  }
}
.lotOfMarginTop {
  margin-top: 160px;
}

h6 {
  margin: 10px;
  ion-chip {
    border-width: medium;
  }
}

ion-chip[disabled] {
  opacity: 1 !important;
}
