<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-title>{{ 'PROFILE.PROFILE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="maxWidthContainer" *ngIf="app.user">
    <ion-card>
      <ion-card-header color="dark">
        <ion-row>
          <ion-col>
            <input id="avatarInput" type="file" accept="image/*" style="display: none" (change)="setAvatar($event)" />
            <p>
              <idea-user-avatar
                class="tappable"
                size="extraLarge"
                [src]="app.getUserImageURL(app.user)"
                [name]="app.user.name"
              ></idea-user-avatar>
            </p>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.userId">
            <div slot="label">ID</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.email">
            <div slot="label">Email</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.name">
            <div slot="label">Name</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.sectionCode">
            <div slot="label">Section Code</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.section">
            <div slot="label">Section</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input readonly labelPlacement="floating" [value]="app.user.country">
            <div slot="label">Country</div>
          </ion-input>
        </ion-item>
        <ion-item *ngFor="let role of app.user.roles; let i = index">
          <ion-input readonly labelPlacement="floating" [value]="role">
            <div slot="label">Role {{ i + 1 }}</div>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-list class="aList">
      <ion-item lines="none">
        <ion-label color="medium">{{ 'COMMON.VERSION' | translate: { v: version } }}</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-label>{{ 'PROFILE.TERMS_CONDITIONS' | translate }}</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-label>{{ 'PROFILE.PRIVACY_POLICY' | translate }}</ion-label>
      </ion-item>
    </ion-list>
    <div class="smallWidthContainer ion-text-center ion-padding-top">
      <p>
        <ion-button color="dark" expand="block" (click)="app.logout()">{{ 'COMMON.LOGOUT' | translate }}</ion-button>
      </p>
      <h2 class="lotOfMarginTop">
        <ion-text color="danger">{{ 'PROFILE.DANGEROUS_AREA' | translate }}!</ion-text>
      </h2>
      <p>
        <ion-button fill="outline" color="danger" expand="block" (click)="deleteAccount()">
          {{ 'PROFILE.DELETE_ACCOUNT' | translate }}
        </ion-button>
      </p>
    </div>
  </div>
</ion-content>
